<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="internal-nlog.txt"
      throwConfigExceptions="true">

    <targets>
        <target xsi:type="File"
                name="request-time"
                fileName="C:/Logs/RestaurantAPI/request-time.log"
                layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=ToString}" />

        <target xsi:type="File"
                name="exceptions"
                fileName="C:/Logs/RestaurantAPI/nlog-all-exceptions-${shortdate}.log"
                layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=ToString}" />

        <target xsi:type="File"
                name="allfile"
                fileName="C:/Logs/RestaurantAPI/nlog-all-${shortdate}.log"
                layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=ToString}" />

    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="allfile" />
        <logger name="RestaurantAPI.*" minlevel="Error" writeTo="exceptions" />
        <logger name="RestaurantAPI.Middleware.RequestTimeMiddleware" minlevel="Trace" writeTo="request-time" />
    </rules>
</nlog>